/* HEADER */
.pattern {
    background-image: url(../img/pattern.png);
    background-color: rgb(24, 139, 247);
    background-repeat: repeat;
    height: 200px;
    background-size: 50%;
    
}

.title
{
    font-size: 60px;  
    margin-bottom: 0%;
}

.writing {
    color:gray;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.boolean {
    color: rgb(57 140 236);
   
}

.date {
    color: grey;
    margin-top: 0%;
}

.logo {
    height: 60px;
    margin-top: 120px;
    margin-left: 10px;
}

/* HEADER */

/* MAIN */

.info-photo {
    margin-top: 0%;
    margin-bottom: 0%;
}

.lorem {
    background-color: yellow;
}
/*Table */
.table-start {
    background-color: rgb(53, 176, 248);
    color: azure;
}

.table-body{
    background-color: rgb(126, 211, 245);
}
/*Table */
.ilum-dolore {
    background-color: yellow;
}

.interest {
    color: gray;
}

/* MAIN */

/*FOOTER */
.text-immage {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    margin-bottom: 0%;
    

    font-size: 30px;
    text-align: left;
    color: aliceblue;
    height: 220px
    
   
}

.text-immage2 {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    margin-top: 0%;

    font-size: 30px;
    text-align: left;
    color: aliceblue;
    height: 220px
}
   
    