/* HEADER */
.pattern {
    background-image: url(../img/pattern.png);
    background-color: rgb(57 140 236);
    background-position: initial;
    background-repeat: repeat-x;
    background-size: 20%
}


.writing {
    color:gray;
    margin-bottom: 20px;
}

.boolean {
    color: rgb(57 140 236);
}

.date {
    color: grey;
}

.logo {
    height: 50px;
    margin-top: 30px;
}

/* HEADER */

/* MAIN */

.lorem {
    background-color: yellow;
}

.table-start {
    background-color: rgb(53, 176, 248);
    size: 50%
}

.ilum-dolore {
    background-color: yellow;
}

.interest {
    color: gray;
}

/* MAIN */

/*FOOTER */
.text-immage {
    size: initial;
}
   
    